.graph {
  width: 650px;
}

table.jqplot-table-legend {
  margin-top: 45px !important;
  border: none !important;
  td {
    border: none !important;
  }
}

.margin-class {
    margin-top: 70px;
}

.chart-container {
  position: relative;
  margin-bottom: 30px;

  table.legend {
    margin-bottom: 0;
    position: absolute;
    top: 300px;
    right: 20px;
    background-color: #fff;

    tbody {
      tr {
        td {
          vertical-align: middle;
          height: 15px;
          width: 15px;
          font-size: 12px;
          font-weight: bold;
          padding: 0 10px 0 5px;
          border: 1px solid #292626;
      }
      }
    }
  }
}

.jqplot-data-label {
  color: black,
}

@media only screen and (max-width: 480px) {
  .graph {
    width: 100%;
  }
  .chart-container {
    table.legend {
      position: static;
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
  }
  #pieChart {
     height: 500px;
  }
}

.links {
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: #444;
  }
}

.jqplot-axis, .jqplot-point-label, .jqplot-yaxis-tick{
  font-family: Lato, "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: 200;
}

.jqplot-title {
  text-align: left !important;
  padding-bottom: 20px !important;
  font-family: Lato, "Helvetica Neue", Helvetica, arial, sans-serif;
}

.legend1 .legend2{
  background-color: #000;
}

#gesamtdeutsche_rohstoffproduktion {
  .jqplot-point-label, .jqplot-axis {
    font-size: 0.85em !important;
  }
}
.verwendung_der_einnahmen_table tr td:nth-child(2) {
    max-width: 80px;
}
.verwendung_der_einnahmen_table td:nth-child(5){
  max-width: 200px;
}

.verwendung_der_einnahmen_table .link{
  /* These are technically the same, but use both */
   overflow-wrap: break-word;
   word-wrap: break-word;

   -ms-word-break: break-all;
   /* This is the dangerous one in WebKit, as it breaks things wherever */
   word-break: break-all;
   /* Instead use this non-standard one: */
   word-break: break-word;

   /* Adds a hyphen where the word breaks, if supported (No Blink) */
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
}
