<div id="impressum-footer">
  <footer class="footer">
    <div class="container-page-wrapper">
      <div class="footer-col_left">
        <a href="{{ site.baseurl }}/"><img class="footer-image" src="/img/D-Eiti-Rohstofftransparenz.png" alt="RT-D-EITI logo"></a>

        <p class="para-md footer-para">{% t footer.help %}</p>

        <a class="button-big button-primary footer-button" target="_blank" href="
          {% if site.lang == "en" %}
            https://www.d-eiti.de/en/kontakt-kontakformular/
          {% else %}
            https://www.d-eiti.de/kontakt-kontakformular/
          {% endif %}
        ">{% t footer.teilen_msg %}</a>

      </div>

      <div class="footer-col_right">

        <div class="footer-bottom-left">
          <p class="footer-para_callout">{% t footer.fragen %}</p>
  	      <p class="footer-para">{% t footer.contact_us %}
            <a class="link-active-beta" target="_blank" href="
              {% if site.lang == "en" %}
                https://www.d-eiti.de/en/kontakt-kontakformular/
              {% else %}
                https://www.d-eiti.de/kontakt-kontakformular/
              {% endif %}
            ">{% t footer.link %}</a>.</p>

  	      <p class="footer-para">{% t footer.description-1 %}
            <a target="_blank" class="link-active-beta" href="https://github.com/pfeffermind/doi-extractives-data">{% t footer.description-2 %}</a>.</p>
          <p class="footer-para">
            {% t footer.take_part_msg %}
          </p>
          <a class="footer-link_social" href="{{ site.baseurl }}/impressum/">
            <p class="footer-social">{% t footer.impressum %}</p>
          </a>
          <a class="footer-link_social" href="{{ site.baseurl }}/datenschutz/">
            <p class="footer-social">{% t footer.data-protection %}</p>
          </a>

        </div>

        <div class="footer-bottom-right">
          <p class="footer-para_callout">
            <a class="link-beta" href="{{ site.baseurl }}/downloads/"><icon class="icon-cloud icon-padded"></icon>Downloads</a>
          </p>
        </div>

        <div class="footer-bottom footer-bottom-right">
          <p class="footer-para_callout footer-social_callout">{% t footer.follow_us %}</p>

          <a target="_blank" class="footer-link_social" href="https://twitter.com/EITIDeutschland">
            <span class="fa-stack">
              <icon class="fa fa-circle fa-stack-2x"></icon>
              <icon class="fa fa-twitter fa-stack-1x fa-inverse"></icon>
            </span>
            <p class="footer-social">Twitter</p>
          </a>
          <a target="_blank" class="footer-link_social" href="https://www.d-eiti.de/kontakt-newsletter-abonnieren/">
            <span class="fa-stack">
              <icon class="fa fa-circle fa-stack-2x"></icon>
              <icon class="fa fa-envelope-o fa-stack-1x fa-inverse"></icon>
            </span>
            <p class="footer-social">Newsletter</p>
          </a>
          <a target="_blank" class="footer-link_social" href="https://www.facebook.com/EITIDeutschland">
            <span class="fa-stack">
              <icon class="fa fa-circle fa-stack-2x"></icon>
              <icon class="fa  fa-facebook fa-stack-1x fa-inverse"></icon>
            </span>
            <p class="footer-social">Facebook</p>
          </a>
        </div>

      </div>
    </div>
  </footer>
</div>
