<div><a target="_blank" class="twitter-button"
href="http://www.twitter.com/share?url={{ site.baseurl_root }}&text=EITI @EITIDeutschland">
  <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
  <span class="footer-social">Tweet</span>
</a></div>
<div class="fb-share-button"
  data-href="{{ site.baseurl_root }}"
  data-layout="button_count"
  data-size="large"
  data-mobile-iframe="true"
  style="margin-top: 10px"
>
    <a class="fb-xfbml-parse-ignore" target="_blank" href="{{ site.baseurl_root }}">Share</a>
</div>
