#explanation {
  p {
    font-size: 15px;
  }
}

#pieChart {
  .jqplot-title {
    top: -20px !important;
  }
}


sup {
  vertical-align: top !important;
  position: relative;
  top: -0.5em;
}

.chart-title-style {
  color: #666;
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
  font-size: 1.2em;
}
